<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PayPal Node App</title>
</head>
<body>
  <form action="https://viws.ddns.net/predictor/admin/pay" method="post">
    <input name="price" value="100" type="hidden" />
    <input type="submit" value="Buy">
    <!-- <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypalcheckout-34px.png" alt="PayPal Checkout" /> -->
  </form>
</body>
</html>